{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    {% include 'includes/alerts.html' %}

    <div class="container">
        <div class="row">
        {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Logged In as: </strong>
                <span>{{ user.full_name }}</span>
            </header>
            <div class="card-body" style="text-align:center;">
                <div class="row"> 
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Total Orders</h5>
                                <h3>{{ orders_count }}</h3>
                                <a href="{% url 'my_orders' %}">View Orders</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="text-align:center;">
                            <div class="card-body">
                                <img src="{{ user_profile.profile_pic.url }}" alt="avatar" class="avatar" width="60" height="60" style="border-radius:50%;">
                                <p class="mb-0">{{ user.email }}</p>
                                <p>{{ user.phone }}</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}