/* hide the radio button */
.rate > input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
    text-align: left;
}

.rate > label {
    float: right;
}

/* showing the stars */
.rate > label::before {
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
}

/* css to the half class for half star */
.rate .half::before {
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

/* click and hover */
input:checked ~ label, label:hover ~ label {
    color: #ffb503;
}

/* hover highlight */
input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label {
    color: #cc9000;
}

.rating-star i {
    color: #ffb503 !important;
}

/* css for the prodct gallery */
ul.thumb {
    margin: 0 auto;
    padding: 0;
    float: left;
}

ul.thumb li {
    list-style: none;
    margin: 10px;
}

ul.thumb li img {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
}