{% extends 'base.html' %}

{% load static %}

{% load mathfilters %}

{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <!-- {{request.path}} gives the url path without query string -->
        {% if 'search' in request.path %}
            <h2 class="title-page">Search Result</h2>
        {% else %}
            <h2 class="title-page">All Products</h2>
        {% endif %}
        
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Categories</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
                <div class="card-body">
                    
                    <ul class="list-menu">
                    <li><a href="{% url 'store' %}">All Products  </a></li>
                    {% for category in categories %}
                    <li><a href="{{ category.get_url }}">{{ category.category_name }}  </a></li>
                    {% endfor %}
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
        
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            {% if products %}
                <div class="form-inline">
                    <span class="mr-md-auto"><b>{{ products_count }}</b> Items found </span>
                </div>
            {% endif %}
    </header><!-- sect-heading -->
    
    <div class="row">
        {% if products %}
        {% for product in products %}
            <div class="col-md-4">
                <figure class="card card-product-grid">
                    <div class="img-wrap"> 
                        <a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.image.url }}"> </a>                    
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <div class="fix-height">
                            <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                            <div class="price-wrap mt-2">
                                <span class="price">${{ product.price }}</span>
                                <del class="price-old">${{ product.price | mul:1.25 }}</del>
                                {% if product.avgRating and product.countReview %}
                                <div class="rating-star">
                                    <span>
                                        <!-- use of font awesome star icon -->
                                        <i class="fa {% if product.avgRating == 0.5 %}fa-star-half-stroke{% elif product.avgRating >= 1.0 %}fa-star{% endif %}" arial-hidden="true"></i>
                                        <i class="fa {% if product.avgRating == 1.5 %}fa-star-half-stroke{% elif product.avgRating >= 2.0 %}fa-star{% endif %}" arial-hidden="true"></i>
                                        <i class="fa {% if product.avgRating == 2.5 %}fa-star-half-stroke{% elif product.avgRating >= 3.0 %}fa-star{% endif %}" arial-hidden="true"></i>
                                        <i class="fa {% if product.avgRating == 3.5 %}fa-star-half-stroke{% elif product.avgRating >= 4.0 %}fa-star{% endif %}" arial-hidden="true"></i>
                                        <i class="fa {% if product.avgRating == 4.5 %}fa-star-half-stroke{% elif product.avgRating >= 5.0 %}fa-star{% endif %}" arial-hidden="true"></i>
                                        <span>{{ product.countReview }} reviews</span>
                                    </span>
                                </div>
                                {% else %}
                                <div class="rating-star">
                                    <span>No Review is available</span>
                                </div>
                                {% endif %}
                            </div> <!-- price-wrap.// -->
                        </div>
                        <a href="{{ product.get_url }}" class="btn btn-block btn-primary">View Detail </a>
                    </figcaption>
                </figure>
            </div> <!-- col.// -->
            {% endfor %}
        {% else %}
            <div class="text-center">
                <h2>No result found, please try again. </h2>
            </div>
        {% endif %}
    </div> <!-- row end.// -->
    
    
    <!-- <nav class="mt-4" aria-label="Page navigation sample">
    {% if products.has_other_pages %}
      <ul class="pagination">
        {% if products.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}
        {% for page_num in products.paginator.page_range %}
            {% if products.number == page_num %}
                <li class="page-item active"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if products.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
      </ul>
    {% endif %}
    </nav> -->
    
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->    

{% endblock %}